@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero-section {
  display: flex;
  justify-content:space-between; 
  align-items: center; 
  color: white;
  padding: 50px;
  position: relative;
  height: 400px;
}
.hero-section::after {
  content: '';
  background-image: url('/public/1.jpg'); 
  background-size: cover;
  background-position: center;
  width: 50%; 
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-items {
}

.hero-content {
  text-align: left;
  max-width: 90%;
  background-color: aliceblue;
  z-index: 1; 
  transform: translate(-50%, -50%);
}

.hero-button {
  background-color: #F7DC03; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: aliceblue;
}


.sidebar{
  background-color: aqua;
  padding: 10px;
  width: 100%;
  margin-right: 50%;
  background-color: white;
}
.sidebar h1{
  font-size: 50px;
  color: black;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
 
  

}
.sidebar h3{
  color: black;
  margin: 0;
  padding-bottom: 0.5rem;
}
.sidebar p{
  color: black;
}


.sidebar h3,
.sidebar h1,
.sidebar h2 {
  margin-top: 0; 
  margin-bottom: 0.5rem; 
  color: black;
  
}
.sidebar h2{
  color:#F7DC03;
  margin: 0;
  font-size: 50px;
  font-family: Impact;
  font-weight: normal;

}