@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    padding: 0.5rem 1rem;
    margin-left: 30px;
    margin-right: 30px;

  }
  
  .logo {
    color: #000000; 
    font-size:30px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-links a {
    color: #1b1818;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
    
  }
  
  .nav-links a:hover {
    background-color: #555; 
  }
  
  .nav-actions {
    display: flex;
  }
  
  .quote-btn, .sign-in-btn {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    color: #fff; 
    background-color: #F7DC03;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .sign-in-btn {
    background-color: #000000;
  }
  .quote-btn:hover, .sign-in-btn:hover {
    background-color: #0056b3; 
  }
  .n-blockquote
  {
    padding-left: 0px;
    margin:  0px;
    border-left: 5px solid #F7DC03;
  }
  